services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/Domain/Model/'
            - '../src/Kernel.php'

    # Repository binding
    App\Domain\Repository\ProductRepositoryInterface: '@App\Infrastructure\Repository\ProductRepository'

    # Use Cases
    App\Application\UseCase\CreateProductUseCase: ~
    App\Application\UseCase\ListProductsUseCase: ~

    # Security
    App\Infrastructure\Security\TokenUserProvider: ~
    App\Infrastructure\Security\TokenAuthenticator: ~

    # Controllers
    App\Infrastructure\Controller\:
        resource: '../src/Infrastructure/Controller/'
        tags: ['controller.service_arguments']
