services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/Domain/Model/'
            - '../src/Kernel.php'

    # Bind Repository Interface to Doctrine Implementation
    App\Domain\Repository\ProductRepositoryInterface: '@App\Infrastructure\Repository\DoctrineProductRepository'

    # Use Cases
    App\Application\UseCase\CreateProductUseCase: ~
    App\Application\UseCase\ListProductsUseCase: ~

    # Controllers
    App\Infrastructure\Controller\:
        resource: '../src/Infrastructure/Controller/'
        tags: ['controller.service_arguments']

    # Repositories
    App\Infrastructure\Repository\DoctrineProductRepository: ~
